.pagination {
  margin-left: 3em;
  padding: .5em 0;
}
.pagination__link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.pagination__link:hover {
  text-decoration: underline;
}

.pagination__disabled {
  pointer-events: none;
  cursor: default;
  color: gray;
}
