.story__content {
  padding: 0 1.25em 0 0;
}
.story__title {
  color: #666;
  font-size:14px;
}
.story__text {
  color: #666;
  font-size:14px;
  white-space: pre;
}
.stories__list {
  padding-left: 3em;
  padding-right: 1.25em;
  margin-top: 1em;
  margin-bottom: .5em;
}
.story__title-link {
  text-decoration: none;
  color: #000;
}
.story__title-link:hover {
  text-decoration: underline;
}

.story__title-link:visited {
  color: #666;
}
.story__meta {
  color: #666;
  font-size: 8pt;
  padding-left: 1.25em;
}
.story__meta-link {
  text-decoration: none;
  color: inherit;
}
.story__meta-link:hover {
  text-decoration: underline;
}

.story__by {
  font-weight: bold;
}

.story__votearrow, .story__votearrow--hidden {
  cursor: pointer;
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 2px;
  display: inline-block;
  background: url("/static/img/grayarrow.gif") no-repeat;
}

.story__votearrow--hidden {
  cursor: auto !important;
  background: none !important;
}
.item__unvote {
  cursor: pointer;
}
.item__unvote:hover {
  text-decoration: underline;
  cursor: pointer;
}
