.storyDetails__content {
  padding: 1em 1.25em 0 1.75em;
  margin-bottom: 1em;
}
.storyDetails__text {
  color: #666;
  font-size:14px;
}
.storyDetails__textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}
.storyDetails__text {
  padding: 1.25em 1.25em 0 1.75em;
}
.storyDetails .story__content {
  padding: 0.75em 0.75em 0 0.75em;
}
