.story__content,
.story--loading {
  padding: 1em 1.25em 0 1.25em;
  margin-bottom: 1em;
}
.story__title {
  color: #666;
  font-size:14px;
}
.stories__list {
  padding-left: 3em;
  padding-right: 1.25em;
  margin-top: 1em;
  margin-bottom: .5em;
}
.story__title a {
  text-decoration: none;
  color: #000;
}
.story__title a:hover {
  text-decoration: underline;
}
.story__title a:visited {
  color: #666;
}
.story__textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.story__meta {
  color: #666;
}
.story > .story__meta {
  margin-bottom: 1em;
}
.story__meta a {
  text-decoration: none;
  color: inherit;
}
.story__meta a:hover {
  text-decoration: underline;
}
.story__meta em {
  font-style: normal;
  background-color: #ffffde;
  color: #000;
}
.story__by a {
  font-weight: bold;
}
.story__text {
  margin-top: 1em;
}
.story__poll {
  margin-top: 1em;
  padding-left: 2.5em;
}
.story__votearrow {
  cursor: pointer;
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 2px;
  display: inline-block;
  background: url("/static/img/grayarrow.gif")
  no-repeat;
}

.item__unvote {
  cursor: pointer;
}

.item__unvote:hover {
  text-decoration: underline;
  cursor: pointer;
}
