body {
  background-color: #fff;
  margin: 0;
}
form {
  margin: 0;
}
img {
  vertical-align: text-bottom;
}
pre {
  white-space: pre-wrap;
}
span.control {
  cursor: pointer;
}
span.control:hover {
  text-decoration: underline;
}

/* From https://github.com/tobiasahlin/SpinKit */
.Spinner {
}
.Spinner > div {
  background-color: #666;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.Spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.Spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.votearrow {
  width:      10px;
  height:     10px;
  border:     0px;
  margin:     3px 2px 2px;
  display: inline-block;
  background: url("/static/img/grayarrow.gif")
  no-repeat;
}

.Settings {
  box-sizing: border-box;
  padding: .75em;
  position: absolute;
  width: 36%;
  background-color: inherit;
  right: 0;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.Settings__setting td:first-child {
  text-align: right;
}
.Settings p {
  color: #fff;
}
.Settings div:last-child > p:last-child {
  margin-bottom: 0;
}

.Updates--loading {
  padding: 1em 1.25em 0 1.25em;
  margin-bottom: 1em;
}
.Updates__notice {
  padding: 0 1.25em;
}
.Updates {
  margin-bottom: .75em;
}

.PollOption {
  margin-bottom: 10px;
}
.PollOption__score {
  color: #666;
}

.PermalinkedComment > .comment__content {
  margin-bottom: 1em;
}

.UserProfile {
  padding-left: 1.25em;
  padding-top: 1em;
}
.UserProfile h4 {
  margin: 0 0 1em 0;
}
